*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 500;
}
.box{
	background-color: #c4c0b1;
	padding: 10px 10px;
}
h2{
	font-size: 2em;
	margin-bottom: 30px;
}
#header-nav {
	background-color: #c4c0b1;
	border-radius: 0;
	border: 0;
	min-height: 70px;
}
.item{
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
}

.navbar-header a:hover, .navbar-header a:focus{
	text-decoration: none;
	color: black;

}
a{
	color: black;
}
h1{
	padding: 0;
	margin: 0;
	color: black;
}

@media only screen and (min-width: 768px){
#nav-list{

	display: none;
}
}
@media only screen and (max-width: 768px){
	.box{
		margin-left: 8vw;
		margin-right: 8vw;
	}
}
div#collapsable-nav{
	margin-top: 20px;
	background-color: white;
}
hr{
	border-top: 1px solid black;
	max-width: 90%;
	margin-left: 5%;
}